    body {
	font-family: Helvetica;
	font-size: 8pt;
	color: #8e8e8e;
	}
	
	img {
	border: 0px;
	}
	
	a {
	font-family: Helvetica;
	font-size: 8pt;
	font-style: italic;
	text-decoration: none;
	color: #3c81c4;
	}
	
	a:hover {
	font-family: Helvetica;
	font-size: 8pt;
	font-style: italic;
	text-decoration: none;
	color: #45b26b;
	}
	
	a:visited {
	font-family: Helvetica;
	font-size: 8pt;
	font-style: italic;
	text-decoration: none;
	color: #3c81c4;
	}
	
	#nav {
	position:absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	font-family: Helvetica;
	font-size: 9pt;
	color: gray;
	}
	
	.color {
	width:25%;
	float: left;
	position: relative;
	height: 60px;
	top: -25px;
	}
	
	.colorText {
	width: 100%;
	text-align: center;
	}
	
	.colorText img{
	display: block;
	margin: auto;
	}
	
	#yellowText img{
	position: relative;
	bottom: -8px;
	}
	
	#greenText img{
	position: relative;
	bottom: -8px;
	}
	
	#pinkText img{
	position: relative;
	bottom: -8px;
	}
	
	#blueText img{
	position: relative;
	bottom: -8px;
	}
	
	.colorImg {
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: 20px;
	}
	
	.colorImg img{
	width: 100%;
	height: 100%;
	}
	
	#yellow, #green, #pink, #blue {
	}

	#title {
	width: 100%;
	margin: 70px 0px 25px 0px;
	text-align: center;
	}

	#title img{
	width: 484px;
	height: 57px;
	}
	
	#sheribpan {
	width: 100%;
	position: absolute;
	z-index: -1;
	}
	
	#line {
	width: 100%;
	margin: 0px 0px 30px 0px;
	text-align: center;
	}

	#line img{
	width: 700px;
	height: 1px;
	}

	#mainPhoto {
	width: 100%;
	margin: 0px 0px 30px 0px;
	text-align: center;
	}

	#mainPhoto img{
	height: 400px;
    width: auto;
    border: 13px solid #ededed;
	}

    #container {
    width: 735px;
    height: 75px;
    margin: auto;
    overflow: hidden;
    }

    #arrowLeft, #arrowRight {
    float: left;
    position: relative;
    top: 25px;
    margin: 0px 5px 0px 5px;
    }
    
	#containerThumbs {
	width: 675px;
	height: 75px;
	margin: auto;
	overflow: hidden;
	float: left;
	}

	#thumbs img{
	margin: 0px 5px 0px 0px;
	}
	
	#containerIndex {
	width: 735px;
    margin: auto;
	}
	
	#aboutTitle {
	width: 100%;
	margin: 0px 0px 10px 0px;
	}
	
	#about {
	width: 100%;
	padding: 0px 7px 0px 7px;
	text-align: justify;
	font-family: Helvetica;
	font-size: 9pt;
	color: #8e8e8e;
	}
	
	#bodyIndex {
	width: 100%;
	margin: 0px 0px 25px 0px;
	text-align: center;
	font-family: Helvetica;
	font-size: 9pt;
	color: #8e8e8e;
	}
	
	#footer {
	width: 100%;
	font-family: Helvetica;
	font-size: 8pt;
	color: #8e8e8e;
	float: left;
	margin: 20px 0px 25px 0px;
	text-align: center;
	}
	
    #plusButton {
    margin: 0px 0px 5px 0px;
    float: left;
    }